.h1-title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 120%;
}

.h3-title {
  font-style: normal;
  font-weight: 700;
  font-size: 3.4rem;
  font-family: var(--main-ff);
  line-height: 108%;
}

.h4-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  font-family: var(--main-ff);
  line-height: 100%;
}

@media (min-width : 1620px) {
  .h1-title {
    font-size: 6.4rem;
  }

  .h3-title {
    font-size: 3.4rem;
  }
}

@media (max-width : 1620px) {
  .h1-title {
    font-size: calc(3.4vw);
  }

  .h3-title {
    font-size: calc(1.8vw);
  }
}

@media (max-width : 768px) {
  .h1-title {
    font: var(--font-64-mff);
  }

  .h3-title {
    font: var(--font-34-mff);
  }
}
