.catalogs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.catalogs__list {
  padding-right: 1.2rem;
}

.catalogs__item {
  margin-bottom: 1.4rem;
}

.catalogs__item:last-child {
  margin-bottom: 0;
}

.catalogs__link {
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--second-ff);
  line-height: 120%;
  color: var(--c-border);
}

.catalogs__button {
  margin-top: 2rem;
}