
.certificates__list {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem 2rem;
}

.certificates__item {
    width: calc(100% / 6 - 1.67rem);
}

@media (max-width : 992px) {
    .certificates__list {
        gap: 2rem;
    }

    .certificates__item {
        width: calc(100% / 4 - 1.5rem);
    }
}

@media (max-width : 768px) {
    .certificates__item {
        width: calc(100% / 2 - 1rem);
    }
}

@media (max-width : 480px) {
    .certificates__item {
        width: 100%;
    }
}
